form {
    border: 0px solid #fff;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    border-radius: 10px;
    padding: 40px;
    background: #fff;
}

input {
    padding: 10px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #444;
}
